spring:
  datasource:
    url: jdbc:h2:mem:shopping;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: usr
    password: 123

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enable: true

  server:
    port: 8080