spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shoppinglist
    driver-class-name: org.postgresql.Driver
    username: usr
    password: 123

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs
